/* default for all tags margin is 0 */
*{
  margin: 0px;
}

/* Class Name For completed task */
.completed{
  text-decoration: line-through;
  color:red;
}


/* responsive design for laptops and Desktop */

@media only screen and (min-width: 1200px) {

#mainDiv{
    
    text-align: center;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
}


#firstText{
  background: #fff;
  color: rgb(63, 63, 63);
  padding: 6px;
  margin: 0px;
  word-spacing: normal;
  border: 1px solid #fff;
}

#twoText{
  padding: 6px;
  border: 1px solid #fff;
  margin: 0px;
  color:#fff;
}

h1{
  word-spacing: -7px;
  
}

table{
  text-align: center;
  margin: 0px auto;
  width: 100%;
  
}

td,th{
  text-align: center;
  /* width: 40%; */
  width: 290px;
}

header{
  background:#444444;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 10px;
  height: 80px;
  border-bottom: 1px solid black;
}

header h1 {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-top: 2.5%;
}

header form {
  display: inline;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
  width: 30%;
}


input[type=text]{
 height: 25px;
 width: 100%;
 font-size: 18px;
 text-align: center;
}

input[type=text]:focus{
   background: rgb(238, 222, 222);
 }

#addbtn{
  display: none;
}

#empty{
  background: #FCF8C8;
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;

}

#tableContents{
  width: 100%;
  margin: 0 auto;
  background: #FCF8C8; 
  padding-top:15px;
  position: relative;
  font-size: 20px;
}


#ClearBtn{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 16px;
  padding: 4px 10px;
  background-color: #fff;
  color:#444444;
  border-radius: 4px;
  border-color: #444444;
  }

  #ClearBtn:hover{
    background-color:#444;
    color:#fff;
  }

tbody tr {
  /* background: pink;
  border-top-color: aqua; */
  border-top: 1px solid #9A9A9A;
  display: block;
  width: 100%;
}

thead tr{
  display: block;
  width: 100%;
}

tr:hover{
  background: rgb(238, 235, 235);
}

body{
  background-image: url("./r.jpg");
  background-size: cover;
}


.vl {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 0%;
}


.vl2 {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 7.3%;
  margin-left: -3px;
  top: 0%;
}

}

/* responsive design for laptops and Desktop 2*/
@media only screen 
and (min-width : 1099px) 
and (max-width : 1199px) 
{

  #mainDiv{
    
    text-align: center;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#firstText{
  background: #fff;
  color: rgb(63, 63, 63);
  padding: 6px;
  margin: 0px;
  word-spacing: normal;
  border: 1px solid #fff;
}

#twoText{
  padding: 6px;
  border: 1px solid #fff;
  margin: 0px;
  color:#fff;
}

h1{
  word-spacing: -7px;
  
}

table{
  text-align: center;
  margin: 0px auto;
  width: 100%;
  
}

td,th{
  text-align: center;
  /* width: 40%; */
  width: 350px;
}

header{
  background:#444444;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 10px;
  height: 80px;
  border-bottom: 1px solid black;
}

header h1 {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-top: 2.5%;
}

header form {
  display: inline;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
  width: 30%;
}


input[type=text]{
 height: 25px;
 width: 100%;
 font-size: 18px;
 text-align: center;
}

input[type=text]:focus{
   background: rgb(238, 222, 222);
 }

#addbtn{
  display: none;
}

#empty{
  background: #FCF8C8;
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;

}

#tableContents{
  width: 100%;
  margin: 0 auto;
  background: #FCF8C8; 
  padding-top:15px;
  position: relative;
  font-size: 20px;
}


#ClearBtn{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 16px;
  padding: 4px 10px;
  background-color: #fff;
  color:#444444;
  border-radius: 4px;
  border-color: #444444;
  }

  #ClearBtn:hover{
    background-color:#444;
    color:#fff;
  }

tbody tr {
  /* background: pink;
  border-top-color: aqua; */
  border-top: 1px solid #9A9A9A;
  display: block;
  width: 100%;
}

thead tr{
  display: block;
  width: 100%;
}

tr:hover{
  background: rgb(238, 235, 235);
}

body{
  background-image: url("./r.jpg");
  background-size: cover;
}


.vl {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 0%;
}


.vl2 {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 7.3%;
  margin-left: -3px;
  top: 0%;
}


}


/* responsive design for tablets */

@media only screen 
and (min-width : 768px) 
and (max-width : 1098px) 
{

  #mainDiv{
    
    text-align: center;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#firstText{
  background: #fff;
  color: rgb(63, 63, 63);
  padding: 6px;
  margin: 0px;
  word-spacing: normal;
  border: 1px solid #fff;
}

#twoText{
  padding: 6px;
  border: 1px solid #fff;
  margin: 0px;
  color:#fff;
}

h1{
  word-spacing: -7px;
  
}

table{
  text-align: center;
  margin: 0px auto;
  width: 100%;
  
}

td,th{
  text-align: center;
  /* width: 40%; */
  width: 290px;
}

header{
  background:#444444;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 10px;
  height: 80px;
  border-bottom: 1px solid black;
}

header h1 {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-top: 3%;
}

header form {
  display: inline;
  float: right;
  margin-top: 3%;
  margin-right: 3%;
  width: 30%;
}


input[type=text]{
 height: 25px;
 width: 100%;
 font-size: 18px;
 text-align: center;
}

input[type=text]:focus{
   background: rgb(238, 222, 222);
 }

#addbtn{
  display: none;
}

#empty{
  background: #FCF8C8;
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;

}

#tableContents{
  width: 100%;
  margin: 0 auto;
  background: #FCF8C8; 
  padding-top:15px;
  position: relative;
  font-size: 20px;
}


#ClearBtn{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 16px;
  padding: 4px 10px;
  background-color: #fff;
  color:#444444;
  border-radius: 4px;
  border-color: #444444;
  }

  #ClearBtn:hover{
    background-color:#444;
    color:#fff;
  }

tbody tr {
  /* background: pink;
  border-top-color: aqua; */
  border-top: 1px solid #9A9A9A;
  display: block;
  width: 100%;
}

thead tr{
  display: block;
  width: 100%;
}

tr:hover{
  background: rgb(238, 235, 235);
}

body{
  background-image: url("./r.jpg");
  background-size: cover;
}


.vl {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 0%;
}


.vl2 {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 7.3%;
  margin-left: -3px;
  top: 0%;
}


}


/* responsive design for phones */

@media only screen 
and (min-width : 320px) 
and (max-width : 767px) {
  #mainDiv{
    
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table{
  text-align: center;
  margin: 0px auto;
  width: 100%;
  
}

td,th{
  text-align: center;
  /* width: 40%; */
  width: 290px;
}

header{
  background:#444444;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  margin-top: 5px;
  height: 80px;
  border-bottom: 1px solid black;
}



header form {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  width: 50%;
}

h1{
  color:white;
}


P{
  font-size: 20px;
}


input[type=text]{
 height: 25px;
 width: 100%;
 font-size: 12px;
 text-align: center;
}

input[type=text]:focus{
   background: rgb(238, 222, 222);
 }

#addbtn{
  display: none;
}

/* for empty div */
#empty{
  background: #FCF8C8;
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;

}

#tableContents{
  width: 100%;
  margin: 0 auto;
  background: #FCF8C8; 
  padding-top:15px;
  position: relative;
  font-size: 18px;
}


#ClearBtn{
  margin-top:1%;
  margin-bottom: 1%;
  font-size: 16px;
  padding: 4px 10px;
  background-color: #fff;
  color:#444444;
  border-radius: 4px;
  border-color: #444444;
  }

  #ClearBtn:hover{
    background-color:#444;
    color:#fff;
  }

tbody tr {
  /* background: pink;
  border-top-color: aqua; */
  border-top: 1px solid #9A9A9A;
  display: block;
  width: 100%;
}

thead tr{
  display: block;
  width: 100%;
}

tr:hover{
  background: rgb(238, 235, 235);
}

body{
  background-image: url("./r.jpg");
  background-size: cover;
}


.vl {
  border-left: 2px solid red;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 8%;
  margin-left: -3px;
  top: 0%;
}


.vl2 {
 display: none;
}
}




